html {
    font-size: 24px;
}

body {
    background-color: #efefef;
}

.btn-outline-danger:hover {
    color: #dc3545;
    border-color: #dc3545;
    background-color: transparent;
}

.btn-outline-warning:hover {
    color: #ffc107;
    border-color: #ffc107;
    background-color: transparent;
}
.btn-outline-info:hover {
    color: #17a2b8;
    border-color: #17a2b8;
    background-color: transparent;
}
.btn-outline-dark:hover {
    color: #343a40;
    border-color: #343a40;
    background-color: transparent;
}
.btn-outline-success:hover {
    color: #28a745;
    border-color: #28a745;
    background-color: transparent;
}