<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>A Voting App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="/css/main.css" rel="stylesheet">

</head>
<body>
    <h1>A Voting App</h1>


    <h2>Join <span th:text="${meetingName}" /></h2>
    <form action="#" th:action="@{/meeting/__${meetingId}__/participant}" th:object="${participant}" method="post">
        <label for="name">Vad heter du?</label>
        <input id="name" name="name" type="text" />
        <button class="btn btn-primary" type="submit">OK</button>
    </form>

</body>
</html>