<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>A Voting App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="/css/main.css" rel="stylesheet">
    <script src="/js/participant.js"></script>
</head>
<body>
    <h1 th:text="${meetingName}" />
    <h3>A Voting App</h3>

    <p th:text="'Hej, ' + ${participant.name} + '!'" />

    <form id="participantForm" action="#" th:action="@{/meeting/__${meetingId}__/participants/__${participantId}__}" th:object="${participant}" method="post">

        <input type="hidden" id="id" name="id" th:value="${participant.id}" />
        <input type="hidden" id="name" name="name" th:value="${participant.name}" />

        <button data-toggle="button" data-time-changed="0" class="btn btn-block btn-outline-danger" id="breakingQuestion">Ordningsfråga</button>
        <button data-toggle="button" data-time-changed="0" class="btn btn-block btn-outline-warning" id="information">Sakupplysning</button>
        <button data-toggle="button" data-time-changed="0" class="btn btn-block btn-outline-info" id="comment">Kommentar</button>
        <button data-toggle="button" data-time-changed="0" class="btn btn-block btn-outline-dark" id="requestToSpeak">Request To Speak</button>
        <button data-toggle="button" data-time-changed="0" class="btn btn-block btn-outline-success" id="handRaised">Rösta JA</button>

    </form>


    <!--form action="#" th:action="@{/meeting/__${meetingId}__/participant/__${participantId}__}" th:object="${participant}" method="post">

        <input type="hidden" id="id" name="id" th:value="${participant.id}" />
        <input type="hidden" id="name" name="name" th:value="${participant.name}" />

        <input type="checkbox" id="handRaised" name="handRaised" th:checked="${participant.handRaised}" ><label for="handRaised">handRaised</label>
        <input type="checkbox" id="breakingQuestion" name="breakingQuestion"
               th:checked="${participant.breakingQuestion}"/><label for="breakingQuestion">breakingQuestion</label>
        <input type="checkbox" id="requestToSpeak" name="requestToSpeak" th:checked="${participant.requestToSpeak}"/><label for="requestToSpeak">requestToSpeak</label>
        <button type="submit">Submit</button>
    </form-->
</body>
</html>